@charset "UTF-8";
/* CSS Document */

.nav-searchfield-outer button {
    position: absolute;
    right: 7px;
    top: 5px;
}
.nav-searchfield-outer  span {
     background: #fbfbfb none repeat scroll 0 0;
    color: #e04f67;
    font-size: 20px;
    left: 155px;
    padding: 10px 100px;
    position: absolute;
    top: 3px;
    width: 66%;
}
.cover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    padding: 20px;
}
.spin_two > span {
    left: 72%;
    padding: 9px 15px;
    position: absolute;
    width: 10%;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
     border: medium none;
    box-shadow: 2px 2px 25px #aaaaaa;
    left: 401.5px !important;
    max-height: 188px;
    overflow: auto;
    top: 420px !important;
    width: 685px !important;
}
.ui-menu.ui-autocomplete .ui-menu-item {
    border-bottom: 1px solid #e7e7e7;
    color: #6b6b6b;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
}

.footer_area {
    color: #fff;
    text-align: center;
}

.footer_area h2 {
     color: #efefef;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.footer_area p {
    color: #cecece;
    font-size: 16px;
}
.delivery p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 32px 0;
    text-transform: capitalize;
}
.arrow_next {
    font-size: 17px;
    position: absolute;
    right: 30px;
    top: 32px;
}

.restDetail .content_desc {
     background: rgba(255,255,255,.8);
    margin: auto;
    padding: 5px;
    width: 60%;
}
.restDetail .content_desc > h1 {

    color: #f99d1c;
    font-size: 26px;
    font-weight: 300;
    margin-top: 40px;
    padding: 0;
}
.restDetail .content_desc > p
{
        color: #666;
    font-size: 15px;
    font-weight: 300;
}

.restDetail .vendor-image {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #a0a8af;
    height: 82px;
    margin: 0 17%;
    position: absolute;
    top: 18px;
    width: 82px;
    z-index: 2;
}
.table.cart-list td h5{
    margin-bottom:0;
    font-weight:600;
}
.table.cart-list{
    margin-bottom:0;
}
.table.cart-list td{
    vertical-align:middle;
}

.table.table_summary td {
    border-top:0
}
.table.table_summary td.total{
    font-weight:bold;
    font-size:18px;
}
.table td.total_confirm{
    font-weight:bold;
    font-size:18px;
    background-color:#333;
    color:#fff;
}
.options i{
    font-size:26px;
    color: #f99d1c;
}
.row#options_2{
    margin-bottom:-10px;
    margin-top:-5px;
}
#options_2 label{
    font-size:12px;
}
.thumb_cart{
  border: 1px solid #ddd;
  overflow:hidden;
   width:60px;
   height:60px;
   margin-right:10px;
   float:left;
}
.thumb_cart img{
  padding:1px;
  width:58px;
  height:auto;
}
.item_cart{
    display: inline-block;
    margin-top:20px;
}

#section-2 .col-md-9 {
    background: #fff none repeat scroll 0 0;
}

#section-3 .col-md-9 {
    background: #fff none repeat scroll 0 0;
}